.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    margin: 5%;
}

.heading {
    text-align: center;
}

summary {
    padding: 2%;
    list-style-position: inside;  
}
details {
    border-bottom: solid thin grey;
}

details[open] {
    background-color: lightgray;
}


ol {
    background-color: white;
    margin-bottom: 0;
}

li {
    padding: 2px;
}